<div class="people-card-container border mb-5">
  <div class="people-card">
    <figure class="divcardimage w-100">
      <img class="cardimage w-100" [src]="input.profile_path" />
    </figure>
    <p class="card-title text-truncate ms-1">{{ input.name }}</p>
    <p class="cardtext text-truncate text-muted ms-1">
      popularity :{{ input.popularity }}
    </p>
    <button
      type="button"
      class="btn btn-primary mb-2 mx-auto d-block"
      [routerLink]="['/home/Multi-media/person/details/', input.id]"
    >
      Actor Details
    </button>
  </div>
</div>

