<div class="navbar_master">
  <div>
    <h1 type="button" routerLink="/home">OurLogo</h1>
  </div>
  <ul>
    <li>
      <a routerLink="/home/favourites" class="fav"
        ><i class="fa-solid fa-star text-warning"></i
      ></a>
    </li>
    <li>
      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown link
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <a (click)="changeEn()" type="button" class="dropdown-item"
              >English</a
            >
          </li>
          <li>
            <a (click)="changeAr()" type="button" class="dropdown-item"
              >Arabic</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a
        class="btn btn-primary"
        data-bs-toggle="offcanvas"
        href="#CanvasSidebar"
        role="button"
        aria-controls="offcanvasExample"
      >
        Liked Movies
      </a>
    </li>
    <li class="signOut">
      <a (click)="LogOut()" type="button">Log Out</a>
    </li>
  </ul>
</div>
