
<div class="col-9 mx-auto" *ngIf="favoriteList.length>0"> 
  <h1 class="text-center mt-3">Favourite Movie List</h1>  
<div *ngFor="let item of favoriteList"  class="row justfy-content-between m-5 border align-items-center">
  <div class="col-2">
    <img [src]="item.poster_path" class=" w-100" >
  </div>
 <div class="col-8 me-5 pe-5">
  <h3 class="">{{item.title}}</h3>
  <p class="">{{item.overview}}</p>
  <span>{{item.vote_average}}</span>
  <span class="text-muted" #favour>
    <i class="fa-solid fa-heart fs-5 ms-3" (click)="likedFn(favour)"></i>
  </span>
</div>
  <button class="btn btn-sm btn-danger col-1 my-auto d-block ms-5" style="height: 40px; width:40px" (click)="removeFav(item.id)" >x</button>
</div>
  <button class="btn btn-danger mx-auto d-block col-5" (click)="Reset(favoriteList)">Delele All Favourites</button>
</div>
<div *ngIf="favoriteList.length==0" class="w-50 mx-auto mt-5">
  <img src="../../../assets/images/noFav.jpg" class="w-50 d-block mx-auto" alt="">
</div>  
  
  
