<div class="row justfy-content-between m-5 border align-items-center">
  <div class="col-2">
    <img [src]="input.poster_path" class="w-100" />
  </div>
  <div class="col-8 me-5 pe-5">
    <h3 class="">{{ input.title }}</h3>
    <p class="">{{ input.overview }}</p>
    <span>{{ input.vote_average }}</span>
    <span class="text-muted" #favour>
      <i
        type="button"
        class="fa-solid fa-heart fs-5 ms-3 text-danger"
        (click)="like(input, input.id)"
      ></i>
    </span>
  </div>
  <button
    class="btn btn-sm btn-danger col-1 my-auto d-block ms-5"
    style="height: 40px; width: 40px"
    (click)="removeFav(input.id)"
  >
    x
  </button>
</div>
