<form
  [formGroup]="RegisterForm"
  (ngSubmit)="submitForm()"
  class="col-8 mx-auto p-5 rounded-1 bg-light"
>
  <div class="">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText />
      <label for="float-input">Username</label>
    </span>
    <span class="p-float-label">
      <input id="float-input" type="email" pInputText />
      <label for="float-input">E-mail</label>
    </span>
    <button pButton type="submit" label="Submit"></button>
  </div>
</form>
