<div class="row-2 d-flex">
    <div class=" w-25  border rounded bg-image  row -3 shadow p-3 mb-5 bg-white rounded ">

      <img class="img-fluid  rounded " src="../../../assets/01.jpg" />
      <h5 class="card-title text-center ">movie title</h5>
      <h6 class="card-subtitle mb-2 text-muted text-center">wefwef</h6>
      <p class="card-text " ></p>
      <p class="card-text">price wferf</p>
      <button class="btn btn-primary container">add to favourite</button>
    </div>
  
  </div>
  
  <!-- <div class="card-body " >
      <img class="img-thumbnail "  [src]="product.image" />
      <h5 class="card-title">{{product.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.category}}</h6>
      <p class="card-text">
        
      </p>
      <p class="card-text ">
        price {{product.price}}
      </p>
      <button class="btn btn-primary container"
      (click)="addcart(product)">
        add to cart
  
      </button>
    </div>  -->
  