<app-nav-bar></app-nav-bar>
<div class="col-9 mx-auto" *ngIf="favoriteList.length > 0">
  <h1 class="text-center mt-3">Favourite Movie List</h1>
  <div class="container row">
    <app-fav-card
      class="col-6 favCard"
      *ngFor="let fav of favoriteList"
      [input]="fav"
    ></app-fav-card>
  </div>
  <button (click)="clearList()" class="btn btn-danger mx-auto d-block col-5">
    Delete All Favourites
  </button>
</div>
<div *ngIf="favoriteList.length == 0" class="w-50 mx-auto mt-5">
  <figure>
    <img
      src="../../../assets/images/noFav.jpg"
      class="w-50 d-block mx-auto"
      alt=""
    />
  </figure>
  <button routerLink="/home" class="btn btn-info mx-auto d-block">
    Back to home
  </button>
</div>
<app-likes-sidebar></app-likes-sidebar>
